{% extends "tutor/base.html" %}
{% block content %}
    <div class="row">
        <div class="large-16 columns container">
            <div class="row">
                <!-- Contact Details -->
                <div class="large-12 columns">

                    <h4>How This Works</h4>

                    <p>If you're reading this, you've successfully managed to log in. Well done! First things to
                        know:</p>
                    <ol>
                        <li> You can view the amount owed to you for lessons tutored by clicking on the "pupil/credits"
                            tab.
                        </li>
                        <li> You can view the amount of lessons each of your pupils have by clicking on the
                            "pupil/credits" tab.
                        </li>
                        <li> Progress reports are to be filled out after every lesson. HOMEWORK IS ALWAYS TO BE GIVEN.
                            These reports get emailed to the parent/guardian of the pupil, or to the pupil themselves.
                        </li>
                    </ol>

                    <h5> How much am I paid? </h5>

                    <p> {{ high_school }} and {{ uni }}.</p>

                    <h5> When do I get paid?</h5>

                    <p>You will get paid between the 25th and the end of the month for that month. It takes 24 hours for
                        lessons to be processed on our end.</p>

                    <h5> How will I be notified of pupils in my area?</h5>

                    <p> You will receive an sms detailing available. Respond with the code in the sms to opt to tutor
                        that pupil. All correspondence is done via email thereafter.</p>

                    <h5> Some tutoring advice</h5>
                    <ol>
                        <li> Always check that homework is completed. The progress report will ask for this.
                        </li>
                        <li> Always stick to the syllabus and follow the teachers' methods. Do not teach a different
                            method unless absolutely necessary.
                        </li>
                        <li> Repetition is key! Be prepared to explain things more than once, and be sceptical if the
                            student tells you he/she understands the first time. Sometimes they are too polite or
                            intimidated for their own good.
                        </li>
                        <li>Make sure the student can do the homework by getting him/her to do similar questions under
                            your supervision. Get the student to do as much by him/herself as possible.
                        </li>
                    </ol>

                </div>
            </div>

            <!-- End Main Content and Sidebar -->
        </div>
    </div>
{% endblock %}