{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="large-16 columns container">
            <div class="row">
                <!-- Contact Details -->
                <div class="large-12 columns">

                    <h5>Something went wrong with your request.</h5>

                    <p>Either your email has already been registered or your passwords did not match!</p>

                </div>
            </div>

            <!-- End Main Content and Sidebar -->
        </div>
    </div>
{% endblock %}