{% extends "tutor/base.html" %}
{% block content %}
    <div class="row">
        <div class="large-16 columns container">
            <div class="row">
                <!-- Contact Details -->
                <div class="large-12 columns">

                    <!DOCTYPE html>

                        <html>
                        <head>
                            <title></title>
                        </head>
                        <body>
                        <div>
{#                            <h2><a href="/emoney/get/{{ account.id }}"> {{ account.firstname }} </a></h2>#}
                        </div>
                        Credits:<br/>
                        Pupils:
                        <table border="2" style="width:100%">
                            <tr border="1" style="width:50%">
                                <td>Pupil Name</td>
{#                                <td>Last Name</td>#}
                                <td>Subject</td>
                                <td>Remaining Lessons</td>
                            </tr>
                            {% for pupil in pupils %}
                                <tr>
                                    <td>{{ pupil.pupil }}</td>
{#                                    <td>{{ pupil.surname }}</td>#}
                                    <td>{{ pupil.subject }}</td>
                                    <td>{{ pupil.lessons_remaining }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        </body>
                        </html>

                </div>
            </div>

            <!-- End Main Content and Sidebar -->
        </div>
    </div>
{% endblock %}