<!--HEADER-->
<section id="header">
    <div class="fixed contain-to-grid">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <a href="{% url "tutorsummary" %}"><img src="/static/img/logo.png"></a>
                </li>
                <li class="toggle-topbar menu-icon">
                    <a href="#"><span>Menu</span></a>
                </li>
            </ul>

            <section class="top-bar-section">
                <ul class="right">
                    <li><a href="{% url "pupilscredits" %}">Pupils/Credits</a></li>
                    <li><a href="{% url "registerlesson" %}">Register Lesson</a></li>
                    <li><a href="{% url "lessonhistory" %}">Lesson History</a></li>
                    <li><a href="{% url "tutorfaq" %}">FAQ</a></li>
                    <li><a href="{% url "logout" %}" >Logout</a></li>
                    <li class="has-form"></li>
                </ul>
            </section>

        </nav>
    </div>
</section>