.idea/*
*.pyc
.idea/*
.DS_Store
static/admin
.thumb
*.kate-swp
docs/*
.sass-cache/
bin/
build/
develop-eggs/
dist/
eggs/
parts/
.installed.cfg
src/*.egg-info
*.pyo
settings_local.py
media/*
*.dump
*~
*.dump
