<!--FOOTER-->
<section id="footer">
    <div class="row">
        <div class="large-12">
            <h3>TipTop<strong>Tutors</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <div class="area"> Links</div>
            <ul class="side-nav">
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="{% url "about" %}">About us</a></li>
                <li><a href="{% url "how-this-works" %}">How this works</a></li>
                <li><a href="{% url "terms-and-conditions" %}">Terms & conditions</a></li>
                <li><a href="http://www.succinctdesign.co.za/" target="_blank">Site SEO</a></li>
            </ul>
        </div>
        <div class="large-2 columns">
            <div class="area"> High School</div>
            <ul class="small-block-grid-3">
                <li>
                    <ul class="side-nav">
                        <li><a href="/subjects#highSchoolMathematics">Mathematics</a></li>
                        <li><a href="/subjects#highSchoolAccounting">Accounting</a></li>
                        <li><a href="/subjects#highSchoolSciences">Sciences</a></li>
                        <li><a href="/subjects#highSchoolEconomics">Economics</a></li>
                    </ul>
                </li>
                <!--<li>-->
                    <!--<ul class="side-nav">-->
                        <!--<li><a href="#">Auditing</a></li>-->
                        <!--<li><a href="#">Statistics</a></li>-->
                        <!--<li><a href="#">Economics</a></li>-->
                        <!--<li><a href="#">Business Studies</a></li>-->
                        <!--<li><a href="#">Afrikaans</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<ul class="side-nav">-->
                        <!--<li><a href="#">English</a></li>-->
                        <!--<li><a href="#">Computer literacy</a></li>-->
                        <!--<li><a href="#">History</a></li>-->
                        <!--<li><a href="#">Geography</a></li>-->
                        <!--<li><a href="#">and many more</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
            </div>
        <div class="large-4 columns">
            <div class="area">University</div>
            <ul class="small-block-grid-2">
                <li>
                    <ul class="side-nav">
                        <li><a href="/subjects#universityMathematics">Mathematics</a></li>
                        <li><a href="/subjects#universityPhysics">Physics</a></li>
                        <li><a href="/subjects#universityChemistry">Chemistry</a></li>
                        <li><a href="/subjects#universityStatistics">Statistics</a></li>
                        <li><a href="/subjects#universityComputerScience">CompSci</a></li>
                    </ul>
                </li>
               <li>
                    <ul class="side-nav">
                        <li><a href="/subjects#universityAppliedMathematics">Applied Maths</a></li>
                        <li><a href="/subjects#universityAccounting">Accounting</a></li>
                        <li><a href="/subjects#universityEconomics">Economics</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="large-4 columns">
            <div class="area"> Contact</div>
            <ul class="side-nav">
                <li><a href="#"><i class="icon-mail"></i>info@tiptoptutors.com</a></li>

                <li class="divider"></li>
                <!--<li><a href="#"><i class="icon-mobile">+27 (0)82 505 2552</i></a></li>-->
            </ul>
        </div>
        <div class="large-3 columns">
            <div class="area">Follow Us</div>
            <ul class="side-nav">
                <li><a href="#"><i class="icon-facebook4"></i>Facebook</a></li>
                <li><a href="#"><i class="icon-twitter3"></i>Twitter</a></li>
                <li><a href="#"><i class="icon-linkedin2"></i>Linkedin</a></li>
                <!--<li><a href="#"><i class="icon-feed"></i>Rss Feed</a></li>-->
            </ul>
        </div>
    </div>
</section>
