{% extends "quote/base.html" %}

{% block meta %}
       <title>Get a Quote - Tip Top Tutors - Cape Town tutors, results guaranteed.</title>
       <meta name="description" content="A quick and easy quote sent straight to your email. No spam, no fuss.">
{% endblock %}

{% block content %}
    <!--BODY/MAIN-->
    <section id="contact">
        <div class="row">
            <div class="large-16 columns container">
                <div class="row">
                    <!-- Contact Details -->
                    <div class="large-12 columns">

                        <h3>Get an Instant Quote</h3>

                        <p>No spam, no fuss, just a quote.
                        </p>


                        <section class="section">
                            <h5 class="title">Your Details</h5>
                            <div class="content" data-slug="panel1">
                                <form method="post" action="{% url "quote" %}">{% csrf_token %}
                                    {% include "common/form.html" %}
                                </form>

                            </div>
                        </section>

                    </div>
                    <!-- End Contact Details -->

                    <!-- Sidebar -->

                    <!-- End Sidebar -->
                </div>

                <!-- End Main Content and Sidebar -->
            </div>
        </div>
    </section>
{% endblock %}