@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@font-face {
  font-family: 'icomoon';
  src: url("../../static/fonts/icons/icomoon.eot");
  src: url("../../static/fonts/icons/icomoon.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/icons/icomoon.ttf") format("truetype"), url("../../static/fonts/icons/icomoon.woff") format("woff"), url("../../static/fonts/icons/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 13, ../../scss/base/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 5px;
  font-size: 1.5em;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 30, ../../scss/base/_fonts.scss */
.icon-skype:before {
  content: "\e6cb";
}

/* line 33, ../../scss/base/_fonts.scss */
.icon-twitter3:before {
  content: "\e6d7";
}

/* line 36, ../../scss/base/_fonts.scss */
.icon-google-plus:before {
  content: "\e6d8";
}

/* line 39, ../../scss/base/_fonts.scss */
.icon-facebook4:before {
  content: "\e6d9";
}

/* line 42, ../../scss/base/_fonts.scss */
.icon-feed:before {
  content: "\e6da";
}

/* line 45, ../../scss/base/_fonts.scss */
.icon-linkedin2:before {
  content: "\e6db";
}

/* line 48, ../../scss/base/_fonts.scss */
.icon-grin:before {
  content: "\e600";
}

/* line 51, ../../scss/base/_fonts.scss */
.icon-cool:before {
  content: "\e601";
}

/* line 54, ../../scss/base/_fonts.scss */
.icon-location:before {
  content: "\e602";
}

/* line 57, ../../scss/base/_fonts.scss */
.icon-mobile:before {
  content: "\e603";
}

/* line 60, ../../scss/base/_fonts.scss */
.icon-mail:before {
  content: "\e604";
}

/* line 63, ../../scss/base/_fonts.scss */
.icon-study:before {
  content: "\e605";
}

/* line 66, ../../scss/base/_fonts.scss */
.icon-lab:before {
  content: "\e606";
}

/* line 69, ../../scss/base/_fonts.scss */
.icon-phone:before {
  content: "\e607";
}

/* line 72, ../../scss/base/_fonts.scss */
.icon-paperplane:before {
  content: "\e608";
}

/* line 75, ../../scss/base/_fonts.scss */
.icon-lock:before {
  content: "\e609";
}

@font-face {
  font-family: 'tr_avalon_plain';
  src: url("../../static/fonts/avalon/tr_avalon_plain-webfont.eot");
  src: url("../../static/fonts/avalon/tr_avalon_plain-webfont.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/avalon/tr_avalon_plain-webfont.woff") format("woff"), url("../../static/fonts/avalon/tr_avalon_plain-webfont.ttf") format("truetype"), url("../../static/fonts/avalon/tr_avalon_plain-webfont.svg#tr_avalon_plain") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../../scss/base/sections/_header.scss */
.contain-to-grid {
  border-top: 3px solid #6fbced;
  background: #ecebeb;
  background: -moz-linear-gradient(90deg, #ecebeb 0%, #dddddd 100%);
  background: -webkit-linear-gradient(90deg, #ecebeb 0%, #dddddd 100%);
  background: -o-linear-gradient(90deg, #ecebeb 0%, #dddddd 100%);
  background: -ms-linear-gradient(90deg, #ecebeb 0%, #dddddd 100%);
  background: linear-gradient(180deg, #ecebeb 0%, #dddddd 100%);
  -webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.34);
  -moz-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.34);
  box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.34);
}

/* line 7, ../../scss/base/sections/_header.scss */
.top-bar {
  background: #ecebeb;
  background: -moz-linear-gradient(90deg, #ecebeb 0%, #dddddd 100%);
  background: -webkit-linear-gradient(90deg, #ecebeb 0%, #dddddd 100%);
  background: -o-linear-gradient(90deg, #ecebeb 0%, #dddddd 100%);
  background: -ms-linear-gradient(90deg, #ecebeb 0%, #dddddd 100%);
  background: linear-gradient(180deg, #ecebeb 0%, #dddddd 100%);
}

/* line 10, ../../scss/base/sections/_header.scss */
.top-bar.expanded .title-area {
  background: #ecebeb;
  background: -moz-linear-gradient(90deg, #ecebeb 0%, #dddddd 100%);
  background: -webkit-linear-gradient(90deg, #ecebeb 0%, #dddddd 100%);
  background: -o-linear-gradient(90deg, #ecebeb 0%, #dddddd 100%);
  background: -ms-linear-gradient(90deg, #ecebeb 0%, #dddddd 100%);
  background: linear-gradient(180deg, #ecebeb 0%, #dddddd 100%);
}

/* line 14, ../../scss/base/sections/_header.scss */
.top-bar .name a {
  color: #908f8f;
  padding-left: 1em;
}

/* line 18, ../../scss/base/sections/_header.scss */
.top-bar-section {
  /*  margin-top: 20px;*/
}
/* line 20, ../../scss/base/sections/_header.scss */
.top-bar-section ul {
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  text-shadow: 0px 1px 0px white;
}

/* line 26, ../../scss/base/sections/_header.scss */
.top-bar-section ul li > a {
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
}

/* line 31, ../../scss/base/sections/_header.scss */
.top-bar-section .has-form {
  background-color: none;
}

/* line 35, ../../scss/base/sections/_header.scss */
.top-bar .toggle-topbar.menu-icon a {
  text-indent: -60px;
  width: 34px;
  height: 34px;
  line-height: 33px;
  padding: 0;
  color: #908f8f;
  font-size: 1em;
  margin-top: -20px;
}
/* line 44, ../../scss/base/sections/_header.scss */
.top-bar .toggle-topbar.menu-icon a span {
  -webkit-box-shadow: 0 10px 0 1px #908f8f, 0 16px 0 1px #908f8f, 0 22px 0 1px #908f8f;
  box-shadow: 0 10px 0 1px #908f8f, 0 16px 0 1px #908f8f, 0 22px 0 1px #908f8f;
}

/* line 1, ../../scss/base/sections/_banner.scss */
#imageBannerContainer {
  background-image: url("../../static/img/img-banner.png");
  background-position: top center;
  background-repeat: repeat-x;
  padding-top: 90px;
  height: 560px;
}

/* line 10, ../../scss/base/sections/_banner.scss */
.payoffLine {
  position: relative;
  vertical-align: middle;
}
/* line 15, ../../scss/base/sections/_banner.scss */
.payoffLine h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #16c198;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1em;
}
/* line 23, ../../scss/base/sections/_banner.scss */
.payoffLine h1 span {
  color: #6fbced;
}
/* line 26, ../../scss/base/sections/_banner.scss */
.payoffLine h1 small {
  color: #555454;
  text-transform: none;
  font-weight: normal;
  font-size: 30px;
}
/* line 33, ../../scss/base/sections/_banner.scss */
.payoffLine h4 {
  color: #555454;
  text-transform: none;
  font-weight: normal;
  margin-bottom: 1.3em;
}

/* line 42, ../../scss/base/sections/_banner.scss */
li.selector a.button {
  font-family: 'tr_avalon_plain';
  text-transform: uppercase;
  font-size: 30px;
  text-align: left;
  padding: 18px 15px;
  vertical-align: baseline;
  text-align: center;
}

/* line 2, ../../scss/base/sections/_selectors.scss */
.selectors .container {
  display: block;
  background-color: white;
  -webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0em;
  margin-bottom: 0;
}
/* line 5, ../../scss/base/sections/_selectors.scss */
.selectors .container li {
  border-right: 1px solid #d0cfcf;
  text-align: center;
  /*      min-height: 150px ;*/
  /*      padding: 1.5em;*/
}
/* line 10, ../../scss/base/sections/_selectors.scss */
.selectors .container li:last-child {
  border-right: none;
}
/* line 13, ../../scss/base/sections/_selectors.scss */
.selectors .container li a {
  padding: 1em;
  width: 100%;
  display: inline-block;
}
/* line 20, ../../scss/base/sections/_selectors.scss */
.selectors h4 {
  text-transform: uppercase;
}
/* line 22, ../../scss/base/sections/_selectors.scss */
.selectors h4 span {
  color: #6fbced;
}
/* line 27, ../../scss/base/sections/_selectors.scss */
.selectors p {
  color: #555454;
  font-size: 14px;
  margin-bottom: 0px;
}
/* line 32, ../../scss/base/sections/_selectors.scss */
.selectors .button {
  /*    margin:-40px ;*/
  margin: 0;
  text-transform: uppercase;
}

/* line 38, ../../scss/base/sections/_selectors.scss */
.selectors [class*="block-grid-"] > li {
  padding: 10px 0 0 0;
}
/* line 40, ../../scss/base/sections/_selectors.scss */
.selectors [class*="block-grid-"] > li:first-child {
  padding-left: 10px;
}
/* line 43, ../../scss/base/sections/_selectors.scss */
.selectors [class*="block-grid-"] > li:last-child {
  padding-right: 9px;
}

/* line 47, ../../scss/base/sections/_selectors.scss */
.iconBlock {
  display: inline-block;
  padding-bottom: 2px;
}

/* line 51, ../../scss/base/sections/_selectors.scss */
.textBlock {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: left;
}

/* line 3, ../../scss/base/sections/_blog.scss */
#blog .post-meta {
  text-align: center;
  font-size: 18px;
  border-right: 1px solid #ecebeb;
  border-bottom: 1px solid #ecebeb;
  padding-bottom: 10px;
  padding-right: 5px;
  color: #d0cfcf;
}
/* line 11, ../../scss/base/sections/_blog.scss */
#blog .post-meta .month {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 16, ../../scss/base/sections/_blog.scss */
#blog .post-area {
  padding-left: 1em;
}
/* line 18, ../../scss/base/sections/_blog.scss */
#blog .post-area h4 {
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 0px;
}
/* line 25, ../../scss/base/sections/_blog.scss */
#blog .post-featured-img {
  padding-left: 5px;
}

/* line 29, ../../scss/base/sections/_blog.scss */
article {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 1em;
}
/* line 35, ../../scss/base/sections/_blog.scss */
article p {
  margin-bottom: 1em;
}

/* line 1, ../../scss/base/sections/_footer.scss */
#footer {
  margin-top: 2em;
  width: 100%;
  min-height: 300px;
  display: block;
  background-color: white;
  padding-top: 2em;
}
/* line 8, ../../scss/base/sections/_footer.scss */
#footer h3 {
  line-height: 2;
  margin-left: 0.5em;
}
/* line 13, ../../scss/base/sections/_footer.scss */
#footer .area {
  color: #908f8f;
  padding-bottom: 10px;
  border-bottom: 1px solid #b6b5b5;
}
/* line 20, ../../scss/base/sections/_footer.scss */
#footer ul.side-nav li {
  font-size: 11px;
}
/* line 22, ../../scss/base/sections/_footer.scss */
#footer ul.side-nav li a {
  color: #908f8f;
  transition: 0.2s linear 0.2s;
  /* Safari */
  -webkit-transition: 0.2s linear 0.2s;
}
/* line 27, ../../scss/base/sections/_footer.scss */
#footer ul.side-nav li a:hover {
  color: #16c198;
}
/* line 34, ../../scss/base/sections/_footer.scss */
#footer .footer-base {
  border-top: 1px solid #b6b5b5;
  font-size: 11px;
  color: #908f8f;
  padding: 1em;
}

/* line 1, ../../scss/base/sections/_signUp.scss */
.reveal-modal {
  padding: 0;
}
/* line 2, ../../scss/base/sections/_signUp.scss */
.reveal-modal h2 {
  background-color: #6fbced;
  padding: 14px 10px 10px;
  color: white;
  text-align: center;
  line-height: 0.8;
}
/* line 8, ../../scss/base/sections/_signUp.scss */
.reveal-modal h2 small {
  color: white;
}
/* line 13, ../../scss/base/sections/_signUp.scss */
.reveal-modal .close-reveal-modal {
  color: white;
}
/* line 17, ../../scss/base/sections/_signUp.scss */
.reveal-modal .signup {
  padding: 1em;
}
/* line 19, ../../scss/base/sections/_signUp.scss */
.reveal-modal .signup a {
  text-align: center !important;
  font-family: 'tr_avalon_plain';
}
/* line 24, ../../scss/base/sections/_signUp.scss */
.reveal-modal .signup span.prefix, .reveal-modal .signup label.prefix {
  background: white;
  border: 1px solid #6fbced;
  border-right: none;
  height: 48px;
  padding-top: 3px;
  padding-left: 10px;
  vertical-align: middle;
  color: #6fbced;
}
/* line 34, ../../scss/base/sections/_signUp.scss */
.reveal-modal .signup input[type="text"], .reveal-modal .signup input[type="password"], .reveal-modal .signup input[type="date"], .reveal-modal .signup input[type="datetime"], .reveal-modal .signup input[type="datetime-local"], .reveal-modal .signup input[type="month"], .reveal-modal .signup input[type="week"], .reveal-modal .signup input[type="email"], .reveal-modal .signup input[type="number"], .reveal-modal .signup input[type="search"], .reveal-modal .signup input[type="tel"], .reveal-modal .signup input[type="time"], .reveal-modal .signup input[type="url"], .reveal-modal .signup textarea {
  -moz-box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #6fbced;
  border-left: none;
  border-radius: 0;
  box-shadow: 0 1px 2px white inset;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.875rem;
  height: 3rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
  width: 100%;
}

/* line 2, ../../scss/base/_base.scss */
body {
  font-family: sans-serif;
  color: #555454;
  background-color: #ecebeb;
  background: url("../../static/img/body_bg2.png") repeat #ecebeb;
}

/* line 10, ../../scss/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'tr_avalon_plain';
}
/* line 12, ../../scss/base/_base.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  color: #6fbced;
}
/* line 15, ../../scss/base/_base.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #908f8f;
}

/* line 21, ../../scss/base/_base.scss */
h3 {
  margin-bottom: 5px;
  padding-bottom: 0;
  line-height: 0.8;
}

/* line 26, ../../scss/base/_base.scss */
p {
  color: #555454;
  font-family: sans-serif;
  font-size: 14px;
}

/* line 31, ../../scss/base/_base.scss */
.button {
  color: white;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
  transition: background-color 300ms ease-out 0s;
  border-top: 1px solid #16c198;
  text-transform: uppercase;
}

/* line 39, ../../scss/base/_base.scss */
a:focus {
  outline: none;
}

/* line 43, ../../scss/base/_base.scss */
.container {
  display: block;
  background-color: white;
  -webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2em;
  margin: 2em 0;
}

/* line 47, ../../scss/base/_base.scss */
textarea {
  height: 9em;
}

/* line 50, ../../scss/base/_base.scss */
label.inline {
  margin: 0 0 5px;
  padding: 0.625rem 0 0;
}
