{% extends "blog/base.html" %}
{% block content %}
<!--BODY/MAIN-->
<section id="blog">

    <div class="row">
        <div class="large-16 columns container">
            <div class="row">
                <!-- Contact Details -->
                <div class="large-12 columns">

                    <h3>The Blog</h3>
                    <article>
                        <div class="row collapse">
                            <div class="small-1 columns post-meta hide-for-small">
                                <span class="month">Nov</span>
                                <span class="day">12</span>
                            </div>
                            <div class="small-5 columns post-featured-img"><a href=""><img src="static/img/blog/thumb-3.png"></a></div>
                            <div class="small-10 columns post-area">
                                <h4>header</h4>
                                <p class="text-justify"> Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                                    nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                    cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a
                                    ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu
                                    ad litora torquent per conubia nostra, per inceptos himenaeos.
                                </p>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="row collapse">
                            <div class="small-1 columns post-meta hide-for-small">
                                <span class="month">Nov</span>
                                <span class="day">12</span>
                            </div>
                            <div class="small-5 columns post-featured-img"><a href=""><img src="static/img/blog/thumb-2.png"></a></div>
                            <div class="small-10 columns post-area">
                                <h4>header</h4>
                                <p class="text-justify"> Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                                    nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                    cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a
                                    ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu
                                    ad litora torquent per conubia nostra, per inceptos himenaeos.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- End Contact Details -->


                <!-- Sidebar -->


                <div class="large-4 columns">
                    <h5>Past News</h5>
                    <ul class="side-nav">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </div>
                <!-- End Sidebar -->
            </div>

            <!-- End Main Content and Sidebar -->
        </div>
    </div>


</section>


{% endblock %}