{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery sent" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-16 columns container">
            <div class="row">
                <!-- Contact Details -->
                <div class="large-12 columns">

                    <p>Your password has successfully been reset. You can use it right now on the login page.</p>


                </div>
            </div>

            <!-- End Main Content and Sidebar -->
        </div>
    </div>
{% endblock %}