{% extends "pupil/base.html" %}

{% block meta %}
       <title>Get a tutor - Tip Top Tutors - Cape Town tutors, results guaranteed.</title>
       <meta name="description" content="Apply online for a Tip Top tutor by filling out an easy form. We guarantee that our tutors will improve your results, or we tutor for free.">
{% endblock %}

{% block content %}
   <section id="tutor">

        <div class="row">
            <div class="large-16 columns container">
                <div class="row">
                    <!-- Contact Details -->
                    <div class="large-12 columns" style="margin-left:30px;">

                    <h3>Request A Tutor Now</h3>

                    <p>Please fill in your details and requirements, and we'll get back to you shortly. </p>

                    <section class="section">
                        <h5 class="title"></h5>

                        <div class="content" data-slug="panel1">
                            <form method="post" action="{% url "pupil" %}" >{% csrf_token %}
                                {% include "common/form.html" %}
                            </form>
                            </div>
                    </section>
                    </div>
                    <!-- End Contact Details -->
                </div>

                <!-- End Main Content and Sidebar -->
            </div>
        </div>
    </section>


{% endblock %}