{% extends "pupil/base.html" %}
{% block content %}
   <section id="tutor">

        <div class="row">
            <div class="large-16 columns container">
                <div class="row">
                    <!-- Contact Details -->
                    <div class="large-12 columns" style="margin-left:30px;">

                    <h3>Request A Tutor Now</h3>

                    <p></p>

                    <section class="section">
                        <h5 class="title">Your details</h5>

                        <div class="content" data-slug="panel1">
                            <form method="post" action="{% url "pupil" %}" >{% csrf_token %}
                                {% include "common/form.html" %}
                            </form>
                            </div>
                    </section>
                    </div>
                    <!-- End Contact Details -->
                </div>

                <!-- End Main Content and Sidebar -->
            </div>
        </div>
    </section>


{% endblock %}