$primary-color: #16c198;
$secondary-color: #6fbced;
$alert-color: #c60f13;
$success-color: #5da423;

$text-color:#555454;
$header-font-color:#818181;

//greys
$white: #ffffff;
$grey-light:#ecebeb;
$grey-light-mid:#e5e5e5;
$grey-mid:#d0cfcf;
$grey-mid-dark:#b6b5b5;
$grey-dark:#908f8f;
$black:#000000;