{% extends "common/base.html" %}
{% block content %}
<section id="base">

    <div class="row">
        <div class="large-16 columns container">
            <div class="row">
                <div class="large-16 columns">
                    <h3>Get to <span>know us</span><br/>
                    <small>Proin gravida nibh vel velit auctor aliquet.</small>
                    </h3>
                    <br/>
                </div>
            </div>

            <div class="row">
                <div class="medium-5 columns">

                    <img src="/static/img/fred.jpg"><a href="#" class="button expand">Contact this guy</a>
                </div>
                <div class="medium-11 columns">
                    <h5>Freddie O’Donnell<br/>
                        <small>The brains behind it all</small>

                    </h5>
                    <p><strong>Proin gravida nibh vel velit auctor aliquet.</strong> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>
                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas </p>
                </div>
            </div>
            <hr/>

            <div class="row">
                 <div class="large-16 columns">
                    <h3>About <span>Tip Top Tutors</span><br/>
                    <small>Proin gravida nibh vel velit auctor aliquet.</small>
                    </h3>
                    <br/>

                     <div class="row">
                         <div class="large-8 columns">
                             <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
                             <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                         </div>
                         <div class="large-8 columns">
                             <p>Lorem ipsum dolor sit amet, at est illud fastidii, id vero detracto sed. Et tollit indoctum vim, ancillae atomorum ne quo. Mollis splendide aliquando pro ex, amet meis inimicus has in. Et nam repudiare temporibus conclusionemque, sed vidit nulla ut, no inermis electram his. His primis luptatum consequuntur ad.</p>
                             <p>Doctus petentium per cu. Per eu vocibus officiis, vis dicta denique id. Inermis molestiae referrentur sed ne. Et eum liber maiorum, te nihil verterem est, ignota theophrastus qui at. Suas tota inermis cum ei, iusto singulis postulant cum ea, ut nec everti nostrum.</p>
                         </div>
                     </div>
                 </div>
            </div>


        </div>
    </div>

</section>
{% endblock %}




