<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tip Top Tutors</title>
    <link rel="stylesheet" href="static/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/foundation.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/base.css" type="text/css"/>
    <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
    <script src="static/js/modernizr.js" type="text/javascript"></script>
</head>
<body>
<!--HEADER-->
<section id="header">
    <div class="fixed contain-to-grid">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <a href="index.html"><img src="static/img/logo.png">
                </li>
                <li class="toggle-topbar menu-icon">
                    <a href="#"><span>Menu</span></a>
                </li>
            </ul>

            <section class="top-bar-section">
                <ul class="right">
                    <li><a href="about.html">About us</a></li>
                    <li><a href="#">how this works</a></li>
                    <li><a href="#">subjects</a></li>
                    <li><a href="blog.html">blog</a></li>
                    <li><a href="contact.html">contact us</a></li>
                    <li class="divider"></li>
                    <li class="has-form"><a href="#" class="button radius large" data-reveal-id="signUp">sign in /
                        up</a></li>
                </ul>
            </section>
        </nav>
    </div>
</section>

<!--BODY/MAIN-->
<section id="contact">
    <div class="row">
        <div class="large-16 columns container">
            <div class="row">
                <!-- Contact Details -->
                <div class="large-12 columns">

                    <h3>Get in Touch!</h3>

                    <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team
                        members will get back to you, or if you have a specific question reach out to one of our staff.
                        We love getting email all day <em>all day</em>.</p>


                    <section class="section">
                        <h5 class="title">Contact Our Company</h5>

                        <div class="content" data-slug="panel1">
                            <form>
                                <div class="row collapse">
                                    <div class="large-2 columns">
                                        <label class="inline">Your Name</label>
                                    </div>
                                    <div class="large-10 columns left">
                                        <input type="text" id="yourName" placeholder="Jane Smith" required>
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="large-2 columns">
                                        <label class="inline"> Your Email</label>
                                    </div>
                                    <div class="large-10 columns left">
                                        <input type="text" id="yourEmail" placeholder="jane@smithco.com" required>
                                    </div>
                                </div>
                                <label>What's up?</label>
                                <textarea></textarea>

                                <button type="submit" class="radius button">Submit</button>
                            </form>
                        </div>
                    </section>
                    <section class="section">
                        <h5 class="title">Specific Person</h5>

                        <div class="content" data-slug="panel2">
                            <ul class="large-block-grid-5">
                                <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">Mal Reynolds</a>
                                </li>
                                <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">Zoe Washburne</a>
                                </li>
                                <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">Jayne Cobb</a></li>
                                <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">Simon Tam</a></li>
                                <li><a href="#"><img src="http://placehold.it/200x200&text=[person]">River Tam</a></li>

                            </ul>
                        </div>
                    </section>

                </div>

                <!-- End Contact Details -->


                <!-- Sidebar -->


                <div class="large-4 columns">
                    <h5>Map</h5>
                    <!-- Clicking this placeholder fires the mapModal Reveal modal -->
                    <p>
                        <a href=""><img src="http://placehold.it/400x280"></a><br/>
                        <a href="">View Map</a>
                    </p>

                    <p>
                        123 Awesome St.<br/>
                        Barsoom, MA 95155
                    </p>
                </div>
                <!-- End Sidebar -->
            </div>

            <!-- End Main Content and Sidebar -->
        </div>
    </div>


</section>


<!--FOOTER-->
<section id="footer">
<div class="row">
    <div class="large-12">
<h3>TipTip<strong>Tutors</strong></h3>
    </div>
</div>
    <div class="row">
        <div class="large-2 columns">
            <div class="area"> Links</div>
            <ul class="side-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">How this work</a></li>
                <li><a href="blog.html">blog</a></li>
            </ul>
        </div>
        <div class="large-6 columns">
            <div class="area"> Subject</div>
            <ul class="small-block-grid-3">
                <li>
                    <ul class="side-nav">
                        <li><a href="#">Mathematics</a></li>
                        <li><a href="#">Accounting</a></li>
                        <li><a href="#">Sciences</a></li>
                        <li><a href="#">Biology</a></li>
                        <li><a href="#">Tax</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="side-nav">
                        <li><a href="#">Auditing</a></li>
                        <li><a href="#">Statistics</a></li>
                        <li><a href="#">Economics</a></li>
                        <li><a href="#">Business Studies</a></li>
                        <li><a href="#">Afrikaans</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="side-nav">
                        <li><a href="#">English</a></li>
                        <li><a href="#">Computer literacy</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Geography</a></li>
                        <li><a href="#">and many more</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="large-4 columns">
            <div class="area"> Contact</div>
            <ul class="side-nav">
                <li><a href="#"><i class="icon-mail"></i>student@tiptoptutors.com</a></li>
                <li><a href="#"><i class="icon-mail"></i>tutor@tiptoptutors.com</a></li>
                <li><a href="#"><i class="icon-mail"></i>enquiry@tiptoptutors.com</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-mobile">+27 (0)82 505 2552</i></a></li>
            </ul>
        </div>
        <div class="large-3 columns">
           <div class="area">Follow Us</div>
            <ul class="side-nav">
                <li><a href="#"><i class="icon-facebook4"></i>Facebook</a></li>
                <li><a href="#"><i class="icon-twitter3"></i>Twitter</a></li>
                <li><a href="#"><i class="icon-linkedin2"></i>Linkedin</a></li>
                <li><a href="#"><i class="icon-feed"></i>Rss Feed</a></li>
            </ul>
        </div>
    </div>
</section>



<script src="static/js/jquery.js" type="text/javascript"></script>
<script src="static/js/foundation.min.js" type="text/javascript"></script>
<script src="static/js/foundation/foundation.js" type="text/javascript"></script>
<script src="static/js/foundation/foundation.topbar.js" type="text/javascript"></script>
<script src="static/js/foundation/foundation.reveal.js" type="text/javascript"></script>
<script src="static/js/foundation/foundation.abide.js" type="text/javascript"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>