{% extends "common/base.html" %}
{% block content %}

    <!--BODY/MAIN-->
    <section id="contact">
        <div class="row">
            <div class="large-16 columns container">
                <div class="row">
                    <!-- Contact Details -->
                    <div class="large-12 columns">

                        <h2>How This Works</h2>
                        <br />

                        <h3>Finding A Tutor</h3>
                        <hr/>
                        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non
                            mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora
                            torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna
                            eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.
                            Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris
                            egestas </p>


                        <h3>Becoming A Tutor</h3>
                        <hr/>
                        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non
                            mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora
                            torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna
                            eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.
                            Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris
                            egestas </p>
                    </div>
                </div>

                <!-- End Main Content and Sidebar -->
            </div>
        </div>

{% endblock %}