{% extends "common/base.html" %}
{% block content %}

    <!--BODY/MAIN-->
    <section id="how-this-works">
        <div class="row">
            <div class="large-16 columns container">
                <div class="row">
                    <!-- Contact Details -->
                    <div class="large-12 columns">

                        <div class="row">
                            <div class="large-16 columns">

                        <h3>How this <span>works</span> <br />
                            <small>A quick intro to get you started.</small>
                        </h3>
                        <br />

                        <h5>Hire a Tutor</h5>
                        <hr/>
                            <p>To book a Tip Top Tutor all you need to do is apply online at “Get a Tutor”. Once you
                                have requested a tutor for a specific subject, we search to see if we have the tutor
                                that fits your exact requirements.</p>

                            <p>Once we have located an available tutor, you will
                                be notified that you may purchase any number of lessons. You can purchase one, five
                                or ten lessons at a time and our tutors travel to you. All our tutors have been
                                interviewed and police-cleared. Furthermore, we at <strong>Tip Top Tutors</strong> believe in
                                providing quality assured service. Our results are therefore guaranteed, or we tutor
                                for free (see our terms and conditions). </p>


                                <h5>Becoming A Tutor</h5>
                        <hr/>
                            <p>To become a tutor all you need to do is click on “Become a Tutor” and fill in the
                                form. We are looking for exciting tutors who have a passion for teaching. You must
                                have excelled in the field in which you want to tutor, and be studying that subject
                                at a higher level. You must also have your own method of transportation. If we
                                accept you, you will be notified of any available pupils in the areas in which you
                                wish to tutor. </p>
                            </div>
                </div>

                <!-- End Main Content and Sidebar -->
            </div>
        </div>

{% endblock %}