{% extends "common/base.html" %}
{%  block content %}

<section id="imageBannerContainer">
    <div class="row">
        <div class="large-10 columns">
            <div class="payoffLine">
                <h1>Find the <span>TUTOR</span> to help you<br/>
                    <small>Offer your private tuition services</small>
                </h1>
                <h4>Begin tutoring immediately.</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-10 columns ">
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
                <li class="selector">
                    <a href="{% url "student" %}" class="button radius expand">
                        <span class="iconBlock"></span>
                        <span class="textBlock">Find A Tutor!</span>
                    </a>
                </li>
                <li class="selector">
                    <a href="{% url "tutor" %}" class="button radius expand secondary">
                        <span class="iconBlock"></span>
                        <span class="textBlock">Get A Quote!</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="main">
    <div class="row">
        <div class="selectors">
            <div class="large-16 columns container">
                <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
                    <li>
                        <a href="#">
                            <img src="/static/img/student-icon-blue.png">
                            <h4>get a <span>Tutor</span></h4>
                            <p class="text-center">Proin gravida nibh vel velit auctor aliquet.</p>
                        </a>
                        <a href="{% url "student" %}" class="button expand">request a tutor</a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/img/tutor-icon-blue.png">
                            <h4>become a <span>Tutor</span></h4>
                            <p class="text-center">Proin gravida nibh vel velit auctor aliquet.</p>
                        </a>
                        <a href="{% url "tutor" %}" class="button expand">aPPLY TO BE A TUTOR</a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/img/papers-icon-blue.png">
                            <h4>get past <span>papers</span></h4>
                            <p class="text-center">Proin gravida nibh vel velit auctor aliquet.</p>
                        </a>
                        <a href="{% url "past-papers" %}" class="button expand">CHECK OUR LIBRARY</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-16 columns container">
            <div class="row">
                <div class="small-4 columns">
                    <a class="th [radius]" href="#"> <img src="/static/img/blog/thumb.png"> </a>
                </div>
                <div class="small-12 columns">
                    <h5>This is Photoshop's version  of Lorem Ipsum. </h5>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                    <a href="blog.html" class="button radius">Read more</a>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="small-12 small-centered columns">
                    <h5 class="text-center" style="font-style: italic;">"I am now confident I am receiving quality Education in just a few seconds each morning. One less thing to worry about when I start my day."</h5>
                </div>
            </div>
        </div>
    </div>
</section>
{%  endblock %}