{% extends "common/base.html" %}

{% block meta %}
    <title>Download Matric Past Papers - Tip Top Tutors - Cape Town tutors, results guaranteed.</title>
    <meta name="description"
          content="Download Matric Past Papers and memos. Tip Top Tutors has compiled easy to download packs of NSC Matric Past Papers. Download now for free.">
{% endblock %}

{% block content %}
    <!--BODY/MAIN-->
    <section id="subjects">
        <div class="row">
            <div class="large-16 columns container">
                <div class="row">
                    <!-- Contact Details -->
                    <div class="large-12 columns">

                        <div class="row">
                            <div class="large-16 columns">
                                <h3>Matric <span>Past Papers</span><br/>
                                    <small>Past Papers and Memo's</small>
                                </h3>
                                <br/>
                            </div>
                        </div>

                        <h5 id="accountingPastPaper">Accounting</h5>
                        <hr/>
                        <p>Download these matric accounting past papers to prepare yourself for the finals</p>

                        <div class="row">
                            <div class="large-5 columns" style="float: left;">
                                <a href="http://gdurl.com/35IR" target="_blank" class="button radius expand">
                                    <span class="textBlock">Download</span>
                                </a>
                            </div>
                        </div>
                        <h5 id="afrikaansPastPaper">Afrikaans</h5>
                        <hr/>
                        <p>Download these matric Afrikaans past papers ensure your Afrikaans is Tip Top</p>

                        <div class="row">
                            <div class="large-5 columns" style="float: left;">
                                <a href="http://gdurl.com/5Azf" target="_blank" class="button radius expand">
                                    <span class="textBlock">Download</span>
                                </a>
                            </div>
                        </div>
                        <h5 id="CATPastPaper">CAT</h5>
                        <hr/>
                        <p>Download these matric CAT past papers</p>

                        <div class="row">
                            <div class="large-5 columns" style="float: left;">
                                <a href="http://gdurl.com/Thls" target="_blank" class="button radius expand">
                                    <span class="textBlock">Download</span>
                                </a>
                            </div>
                        </div>
                        <h5 id="EconomicsPastPaper">Economics</h5>
                        <hr/>
                        <p>Download these matric Economics past papers to sharpern your business wit.</p>

                        <div class="row">
                            <div class="large-5 columns" style="float: left;">
                                <a href="http://gdurl.com/KSsx" target="_blank" class="button radius expand">
                                    <span class="textBlock">Download</span>
                                </a>
                            </div>
                        </div>
                        <h5 id="EnglishPastPaper">English</h5>
                        <hr/>
                        <p>English past papers to aid in the elevation of vallidom of your spoken word.</p>

                        <div class="row">
                            <div class="large-5 columns" style="float: left;">
                                <a href="http://gdurl.com/s1np" target="_blank" class="button radius expand">
                                    <span class="textBlock">Download</span>
                                </a>
                            </div>
                        </div>
                        <h5 id="isiXhosaPastPaper">isiXhosa</h5>
                        <hr/>
                        <p>Download these matric isiXhosa past papers.</p>

                        <div class="row">
                            <div class="large-5 columns" style="float: left;">
                                <a href="http://gdurl.com/t2ac" target="_blank" class="button radius expand">
                                    <span class="textBlock">Download</span>
                                </a>
                            </div>
                        </div>
                        <h5 id="mathsLiteracyPastPaper">Maths Literacy</h5>
                        <hr/>
                        <p>Download these Maths Literacy past papers.</p>

                        <div class="row">
                            <div class="large-5 columns" style="float: left;">
                                <a href="http://gdurl.com/DNlr" target="_blank" class="button radius expand">
                                    <span class="textBlock">Download</span>
                                </a>
                            </div>
                        </div>
                        <h5 id="ITPastPaper">IT</h5>
                        <hr/>
                        <p>Download these matric IT past papers, we need more quality programmers.</p>

                        <div class="row">
                            <div class="large-5 columns" style="float: left;">
                                <a href="http://gdurl.com/Gnl3" target="_blank" class="button radius expand">
                                    <span class="textBlock">Download</span>
                                </a>
                            </div>
                        </div>
                        <h5 id="MathsPastPaper">MATHEMATICS!!!</h5>
                        <hr/>
                        <p>Download these matric Maths past papers, go get an A.</p>

                        <div class="row">
                            <div class="large-5 columns" style="float: left;">
                                <a href="http://gdurl.com/fxaQ" target="_blank" class="button radius expand">
                                    <span class="textBlock">Download</span>
                                </a>
                            </div>
                        </div>
                        <h5 id="MusicPastPaper">Music</h5>
                        <hr/>
                        <p>Download these matric Music past papers. Get practicing.</p>

                        <div class="row">
                            <div class="large-5 columns" style="float: left;">
                                <a href="http://gdurl.com/eBAv" target="_blank" class="button radius expand">
                                    <span class="textBlock">Download</span>
                                </a>
                            </div>
                        </div>
                        <h5 id="SciencePastPaper">Science</h5>
                        <hr/>
                        <p>Download these matric Science past papers, South Africa needs more scientists.</p>

                        <div class="row">
                            <div class="large-5 columns" style="float: left;">
                                <a href="http://gdurl.com/Qle6" target="_blank" class="button radius expand">
                                    <span class="textBlock">Download</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- End Main Content and Sidebar -->
            </div>
        </div>

    </section>

{% endblock %}



