{% extends "contact/base.html" %}
{% block content %}
<!--BODY/MAIN-->
<section id="contact">
    <div class="row">
        <div class="large-16 columns container">
            <div class="row">
                <!-- Contact Details -->
                <div class="large-12 columns">

                    <h3>Mathematics</h3>
                    <hr/>
                    <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team
                        members will get back to you, or if you have a specific question reach out to one of our staff.
                        We love getting email all day <em>all day</em>.</p>

                    <h3>Science</h3>
                    <hr/>
                    <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team
                        members will get back to you, or if you have a specific question reach out to one of our staff.
                        We love getting email all day <em>all day</em>.</p>

                </div>
            </div>

            <!-- End Main Content and Sidebar -->
        </div>
    </div>


</section>

{% endblock %}