{% extends "common/base.html" %}
{% block content %}

    <section id="base">

    <div class="row">
        <div class="large-16 columns container">
            <div class="row">
                <div class="large-16 columns">
                    <h3>Where we<span> came from</span><br/>
                    <small>Our story in a nutshell.</small>
                    </h3>
                    <br/>
                </div>
            </div>

            <div class="row">
                <div class="medium-5 columns">

                    <img src="/static/img/blog/thumb-2.png">
                </div>
                <div class="medium-11 columns">

                    <p>Hi, my name is Freddie and I founded <strong>Tip Top Tutors</strong> while doing my Master’s degree in Mathematical Statistics at the University of Cape Town. I found that there is an increasing need for tutoring in mathematical-based subjects. We are specialised in these subjects and, as such, our tutors know exactly how to guide you, and how to help you achieve your goals.</p><p>We believe that a tutoring agency should be more than just a ‘middle-man’. That is why at <strong>Tip Top Tutors</strong> we guarantee results and therefore I, personally, hand-pick only the very best and brightest tutors. Each tutor has a complete background check before they are allowed to tutor, and each pupil tutored by <strong>Tip Top Tutors</strong> is closely monitored to ensure that their needs are met.</p>
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="large-16 columns">
                    <div class="large-8 columns">
                        <h3>Why we <span>guarantee results</span><br/>
                            <small>Our policy on quality education.</small>
                        </h3>
                        <br/>

                        <p>If you purchase a product from a store, every now and then you will get a 'bad apple'. The
                            only thing to do is return this product. Unfortunately, we cannot have the private lessons
                            that were tutored returned (since you cannot return the tutor’s time like you can a tangible
                            product), but we can offer to tutor the pupil for free to ensure their marks do actually
                            improve. That is why we are prepared to offer the pupil an extra 3 months of tutoring
                            absolutely free if his/her marks do not increase when using our tutors. This is our quality
                            assurance guarantee.
                        </p>


            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
                <li class="selector">
                    <a href="{% url "pupil" %}" class="button radius expand">
                        <span class="textBlock">Get A<br /> Tutor!</span>
                    </a>
                </li>
            </ul>

                    </div>
                    <div class="large-8 columns">
                        <h3>Why our tutors <span>work best</span><br/>
                            <small>Screened, qualified and specialised.</small>
                        </h3>
                        <br/>
                       <p>Private tuition is a method of education that has, in our experience, proven to improve grades better than any other method of extra-curricular activity. It gives pupils the opportunity to discuss their particular difficulties, allows the tutor to teach in the exact way that allows each different pupil to learn best, and the pupil is compelled to engage with the tutor without any distractions.</p>
                       <p>Our systems of tuition are all geared towards mathematical-based subjects and our tutors are all mathematically-inclined, and numerically-talented, individuals. We monitor each pupil on a weekly basis and encourage tutors to take a mentor-like approach when tutoring the pupil. This way our pupils want to learn, which is a stack-load better than forced learning (trust us!).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>
{% endblock %}