{% extends "tutor/base.html" %}

{% block meta %}
    <title>Become a Tutor - Tip Top Tutors - Cape Town tutors, results guaranteed.</title>
    <meta name="description"
          content="Fill out our online application with all the relevant forms attached, and if we like you we will contact you.">
{% endblock %}

{% block content %}

    <!--BODY/MAIN-->
    <section id="tutor">

        <div class="row">
            <div class="large-16 columns container">
                <div class="row">
                    <!-- Contact Details -->
                    <div class="large-12 columns">


                        <h3>Become A Tutor</h3>

                        <p>Apply now to become a Tip Top Tutor and select from a variety of mathematical-based subjects,
                            offered at both High School and University level.</p>

                        <section class="section">
                            <h5 class="title">Your details</h5>

                            <div class="content" data-slug="panel1">
                                {% url "tutor" as form_action %}
                                {% include "common/form.html" %}
                            </div>
                        </section>
                    </div>
                    <!-- End Contact Details -->
                </div>

                <!-- End Main Content and Sidebar -->
            </div>
        </div>
    </section>


{% endblock %}